<%-include("../layout/head.ejs", {title: "Add Slide"})%>
<%-include("../layout/header.ejs")%>
<%-include("../layout/sidebar.ejs")%>

	<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">			
		<div class="row">
			<ol class="breadcrumb">
                <li><a href="/admin/dashboard"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg></a></li>
                <li><a href="">Quản lý Slides</a></li>
				<li class="active">Sửa ảnh</li>
			</ol>
		</div><!--/.row-->
		
		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">Sửa ảnh</h1>
			</div>
        </div><!--/.row-->
        <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                                <form action="/admin/advertise/update/<%=advertise._id%>" role="form" method="post" enctype="multipart/form-data">
                                <div class="form-group">
                                    <label>Tên ảnh</label>
                                    <input required name="name" class="form-control" value="<%=advertise.name%>" placeholder="">
                                </div>
                                <div class="form-group">
                                    <label>Ảnh sản phẩm</label>
                                    
                                    <input required name="image" type="file" onchange="loadFile(event)">
                                    <br>
                                    <div>
                                        <img id="output" src="img/download.jpeg">
                                        <script>
                                        const loadFile = (event)=> {
                                        const output = document.getElementById('output');
                                        output.src = URL.createObjectURL(event.target.files[0]);
                                        output.onload = ()=> {
                                        URL.revokeObjectURL(output.src) // free memory
                                            }
                                        };
                                        </script>
                                    </div>
                                </div>
                                <button name="sbm" type="submit" class="btn btn-success">Cập nhật</button>
                                <button type="reset" class="btn btn-default">Làm mới</button>
                            </div>
                        </form>
                        </div>
                    </div>
                </div><!-- /.col-->
            </div><!-- /.row -->
		
	</div>	<!--/.main-->	
<%-include("../layout/footer.ejs")%>