<%-include("layouts/head.ejs", {title:"Product"})%>
<%-include("layouts/header.ejs")%>
<%-include("layouts/menu.ejs")%>
<%-include("layouts/slider.ejs")%>
                
                <!--	List Product	-->
                <div id="product">
                	<div id="product-head" class="row">
                    	<div id="product-img" class="col-lg-6 col-md-6 col-sm-12">
                        	<img src="../uploads/images/<%=product.thumbnail%>">
                        </div>
                        <div id="product-details" class="col-lg-6 col-md-6 col-sm-12">
                        	<h1><%=product.name%></h1>
                            <ul>
                            	<li><span>Bảo hành:</span> <%=product.warranty%></li>
                                <li><span>Đi kèm:</span><%=product.accessories%></li>
                                <li><span>Tình trạng:</span><%=product.status%></li>
                                <li><span>Khuyến Mại:</span><%=product.promotion%></li>
                                <li id="price">Giá Bán (chưa bao gồm VAT)</li>
                                <li id="price-number"><%=Intl.NumberFormat('vi-VN', { style: 'currency', currency: 'VND' }).format(product.price).replace('₫', 'VND')%></li>
                                <li id="status" class="<%=product.is_stock?'text-success':'text-danger'%>"><%=product.is_stock?"Còn hàng":"Hết hàng"%></li>
                            </ul>
                            <% if(product.is_stock){%>
                            <form method="post" action="/add-to-cart">
	                            <input type="hidden" name="id" value="<%=product.id%>">
	                            <div class="form-row align-items-center">
		                        <div class="col-sm-3 my-1">
			                    <div class="input-group">
				                <input type="number" class="form-control" min="1" value="1" name="qty" id="quantity" placeholder="Số lượng">
			                    </div>
		                        </div>
		                         <div class="col-auto my-1">
			                    <button type="submit"  class="btn btn-primary">Thêm vào giỏ hàng</button>
		                        </div>
	                            </div>
                            </form>
                        <% }%>
                        </div>
                    </div>
                    <div id="product-body" class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <h3>Đánh giá về <%=product.name%></h3>
                            <%=product.description%>
                        </div>
                    </div>
                    
                    <!--	Comment	-->
                    <div id="comment" class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <h3>Bình luận sản phẩm</h3>
                            <form method="post" id="subscribeForm" >
                                <div class="form-group">
                                    <label>Tên:</label>
                                    <input name="com_name" id="name" required type="text" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label>Email:</label>
                                    <input name="com_mail" id="email" required type="email" class="form-control" id="pwd">
                                </div>
                                <div class="form-group">
                                    <label>Nội dung:</label>
                                    <textarea name="com_body" id="com_body" required rows="8" class="form-control"></textarea>     
                                </div>
                                <div class="form-gruop">
                                    <div class="g-recaptcha" data-sitekey="6Le_kr0pAAAAANrWadXMw0YKPEJhVOsO6QVhUfjp"></div>
                                </div>
                                <button type="submit" name="sbm" class="btn btn-primary">Gửi</button>
                            </form> 
                            <script>
                                document
                                .getElementById("subscribeForm")
                                .addEventListener("submit", submitForm);
                            const submitForm = (e)=> {
                                e.preventDefault();
                                const name = document.querySelector("#name").value;
                                const email = document.querySelector("#email").value;
                                const com_body = document.querySelector("#com_body").value;
                                const captcha = document.querySelector("#g-recaptcha-response").value;
                                fetch("/subscribe", {
                                method: "POST",
                                headers: {
                                    'Accept': "application/json, text/plain, */*",
                                    "content-type": "application/json",
                                },
                                body: JSON.stringify({ name: name, email: email,com_body:com_body, captcha: captcha }),
                                })
                                .then((res) => res.json())
                                .then((data) => {
                                    console.log(data);
                                });
                            }
                            </script>
                        </div>
                    </div>
                    <!--	End Comment	-->  
                    
                    <!--	Comments List	-->
                    <div id="comments-list" class="row">
                    	<div class="col-lg-12 col-md-12 col-sm-12">
                             <%for(let comment of comments){%>
                            <div class="comment-item">
                                <ul>
                                    <li><b><%=comment.full_name%></b></li>
                                    <li><%=moment(comment.createdAt).locale('vi').fromNow()%></li>
                                    <li>
                                        <%=comment.body%>
                                    </li>
                                    <a href="">Trả lời</a>
                                </ul>
                            </div>
                            <%}%>
                        </div>
                    </div>
                    <!--	End Comments List	-->
                </div>
                <!--	End Product	--> 
                <div id="pagination">
                    <ul class="pagination">
                        <% if(page > 1) { %>
                        <li class="page-item"><a class="page-link" href="/product-<%=product.slug%>.<%=product._id%>?page=<%= page - 1 %>">Trang trước</a></li>
                        <% } %>
                    <% for(let num of pages) { %>
                        <% if(num === "...") { %>
                        <li class="page-item <%= num === page ? 'active' : '' %>"><span class="page-link"><%= num %></span></li>
                        <% } else { %>
                        <li   li class="page-item <%= num === page ? 'active' : '' %>"><a class="page-link" href="/product-<%=product.slug%>.<%=product._id%>?page=<%= num %>"><%= num %></a></li>
                        <% } %>
                    <% } %>
                    <% if(page < totalPages) { %>
                        <li class="page-item"><a class="page-link" href="/product-<%=product.slug%>.<%=product._id%>?page=<%= page + 1 %>">Trang sau</a></li>
                    <% } %>
                    </ul> 
                </div>
            </div>
            
<!--	End Body	-->
<%-include("layouts/sidebar.ejs")%>
<%-include("layouts/footer.ejs")%>
