<%-include("layouts/head.ejs", {title:"Search"})%>
<%-include("layouts/header.ejs")%>
<%-include("layouts/menu.ejs")%>
<%-include("layouts/slider.ejs")%>

                <!--	List Product	-->
                <div class="products">
                    <div id="search-result">Kết quả tìm kiếm với sản phẩm <span><%=keyword%></span></div>
                    <div class="product-list card-deck">
                        <%for (let product of products){%>
                            <%-include("components/productItemComponent.ejs", {item:product})%>
                        <%}%>
                    </div>
                </div>
                <!--	End List Product	-->
                
                <div id="pagination">
                    <ul class="pagination">
                        <% if (page > 1) { %>
                            <li class="page-item"><a class="page-link" href="/search?keyword=<%= keyword %>&page=<%= page - 1 %>">Trang trước</a></li>
                        <% } %>
                        <% for (let num of pages) { %>
                        <% if (num === "...") { %>
                            <li class="page-item <%= num === page ? 'active' : '' %>"><span class="page-link"><%= num %></span></li>
                        <% } else { %>
                            <li class="page-item <%= num === page ? 'active' : '' %>"><a class="page-link" href="/search?keyword=<%= keyword %>&page=<%= num %>"><%= num %></a></li>
                        <% } %>
                        <% } %>
                        <% if (page < totalPages) { %>
                            <li class="page-item"><a class="page-link" href="/search?keyword=<%= keyword %>&page=<%= page + 1 %>">Trang sau</a></li>
                        <% } %>
                    </ul>
                </div>              
            </div>
            
<%-include("layouts/sidebar.ejs")%>
<%-include("layouts/footer.ejs")%>
