<%-include("../layout/head.ejs", {title: "Giỏ Hàng"})%>
<%-include("../layout/header.ejs")%>
<%-include("../layout/sidebar.ejs")%>


	
		
	<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">			
		<div class="row">
			<ol class="breadcrumb">
				<li><a href="/admin/dashboard"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg></a></li>
				<li class="active">Danh sách giỏ hàng</li>
			</ol>
		</div><!--/.row-->
		
		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">Danh sách giỏ hàng</h1>
			</div>
		</div><!--/.row-->
		<!-- <div id="toolbar" class="btn-group">
            <a href="/admin/orders/create" class="btn btn-success">
                <i class="glyphicon glyphicon-plus"></i> Thêm Ảnh
            </a>
        </div>  -->
		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default">
					<div class="panel-body">
                        <table 
                            data-toolbar="#toolbar"
                            data-toggle="table">

						    <thead>
						    <tr>
						        <th data-field="id" >ID</th>
						        <th data-field="name"  >Thông tin người mua</th>
                                <th data-field="price">Tên sản phẩm</th>
                                <th>Số lượng</th>
                                <th>Đơn giá</th>
                                <th>Tổng tiền</th>
                                <th>Hành động</th>
						    </tr>
                            </thead>
                            <tbody>
                                <%for(let order of orders){%>
                                    <tr>
                                        <td style=""></td>
                                        <td style=""><p>
                                                        <b>Khách hàng:</b> <%=order.full_name%><br>
                                                        <b>Điện thoại:</b> <%=order.phone%><br>
                                                        <b>Email:</b> <%=order.email%><br>
                                                        <b>Địa chỉ:</b> <%=order.address%><br>
                                                    </p>
                                        <td>
                                        <% for (let item of order.items) { %>
                                            <p><%= item.name %></p>
                                        <% } %>
                                        </td> 
                                        <td>
                                        <% for (let item of order.items) { %>
                                            <p><%= item.qty %></p>
                                        <% } %>
                                        </td>
                                        <td>
                                        <% for (let item of order.items) { %>
                                            <p><%=Intl.NumberFormat('vi-VN', { style: 'currency', currency: 'VND' }).format(item.price).replace('₫', 'VND') %></p>
                                        <% } %>
                                        </td>
                                        <td style=""><%=Intl.NumberFormat('vi-VN', { style: 'currency', currency: 'VND' }).format(order.total_price).replace('₫', 'VND')%></td>
                                        <td class="form-group">
                                            <a href="/admin/orders/edit/<%=order._id%>" class="btn btn-primary"><i class="glyphicon glyphicon-pencil"></i></a>
                                            <a href="/admin/orders/delete/<%=order._id%>" class="btn btn-danger"><i class="glyphicon glyphicon-remove"></i></a>
                                        </td>
                                    </tr>
                                    <%}%>
                                 </tbody>
						</table>
                    </div>
                    <div class="panel-footer">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination">
                                <%if(page >1){%>
                                <li class="page-item"><a class="page-link" href="/admin/orders?page=<%=page-1%>">&laquo;</a></li>
                                <%}%>
                                <%for(let num of pages){%>
                                    <%if(num==="..."){%>
                                        <li class="page-item <%=num===page?'active':''%>"><span><%=num%></span></li>
                                    <%}
                                    else{%>
                                        <li class="page-item <%=num===page?'active':''%>"><a class="page-link" href="/admin/orders?page=<%=num%>"><%=num%></a></li>
                                    <%}%>
                                
                                <%}%>
                                <%if(page<totalPages){%>
                                <li class="page-item"><a class="page-link" href="/admin/orders?page=<%=page+1%>">&raquo;</a></li>
                                <%}%>
                            </ul>
                        </nav>
                    </div>
				</div>
			</div>
		</div><!--/.row-->	
	</div>	<!--/.main-->

	<script src="js/jquery-1.11.1.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
    <script src="js/bootstrap-table.js"></script>
<%-include("../layout/footer.ejs")%>
